.orders-container {
  font-family: "Barlow", sans-serif;
  padding: 20px;
  text-align: center;
}

.orders-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.orders-container h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.orders-table-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  h2 {
    margin: unset;
  }
}

.orders-table {
  border-collapse: collapse;
  font-size: 1.5rem;
  margin-top: 10px;
  width: 100%;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.orders-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.orders-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orders-table tr:hover {
  background-color: #f1f1f1;
}

.reload-button {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 550;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 10px 0;
  border: none;
  transition: background-color 0.3s ease;
}

.reload-button:hover {
  background-color: #0056b3;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  margin-right: 5px;
  padding: 5px 10px;
}

.pagination span {
  margin-left: 10px;
}
