#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: start;
  padding-top: 12rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: var(--background-white) !important;
  -webkit-background-clip: text;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
